.a-mirror-tile {
    float: left;
    display: block;
    width: calc(100%/3);
    height: calc(100%/7);
    background-color: #999;
    outline: 1px solid black;

    &:nth-child(2n+1) {
        background-color: #777;
    }
}