.a-cloud {
  z-index: 20;
  position: absolute;
  background-image: linear-gradient(116deg, #fff 75%, #cacaca);
  -webkit-animation-name: cloud-animation;
          animation-name: cloud-animation;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  border-radius: 20px;
  left: 200%;
  width: 130px;
  height: 40px;
  -webkit-box-shadow: 30px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 30px 5px 5px rgba(0, 0, 0, 0.2);
}

.a-cloud--xxxs {
  zoom: 8%;
}

.a-cloud--xxs {
  zoom: 16%;
}

.a-cloud--xs {
  zoom: 24%;
}

.a-cloud--s {
  zoom: 32%;
}

.a-cloud--m {
  zoom: 40%;
}

.a-cloud--l {
  zoom: 48%;
}

.a-cloud--xl {
  zoom: 56%;
}

.a-cloud--xxl {
  zoom: 64%;
}

.a-cloud--xxxl {
  zoom: 72%;
}

.a-cloud::after {
  background-image: linear-gradient(116deg, #fff 60%, #cacaca);
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50% 50% 50% 0;
  left: 25px;
  top: -40px;
  z-index: 19;
}

.a-cloud::before {
  background-image: linear-gradient(116deg, #fff 50%, #cacaca);
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  content: "";
  position: absolute;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  left: -5px;
  top: -15px;
  z-index: 21;
}

.a-cloud__animation-config {
  -webkit-animation-delay: var(--animation-delay);
          animation-delay: var(--animation-delay);
  -webkit-animation-duration: var(--animation-duration);
          animation-duration: var(--animation-duration);
  top: var(--top);
  zoom: var(--zoom);
}

@-webkit-keyframes cloud-animation {
  0% {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    left: 100%;
    opacity: 0;
  }
  10% {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    opacity: 0.95;
  }
  80% {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    opacity: 0.95;
  }
  90% {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    opacity: 0;
    left: 0%;
  }
  100% {
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    opacity: 0;
    left: 100%;
  }
}

@keyframes cloud-animation {
  0% {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    left: 100%;
    opacity: 0;
  }
  10% {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    opacity: 0.95;
  }
  80% {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    opacity: 0.95;
  }
  90% {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    opacity: 0;
    left: 0%;
  }
  100% {
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    opacity: 0;
    left: 100%;
  }
}
/*# sourceMappingURL=cloud.css.map */