.o-iss {
    animation: 30s iss-perspective linear infinite;
    bottom: 0;
}

.iss-wrapper {
    position: absolute;
    left: 250px;
    top: 600px;
    height: 100px;
    width: 160px;
    animation: 30s iss-animation linear infinite;
}

@keyframes iss-perspective {
    0% {
        perspective: 1000px;
    }

    50% {
        perspective: 0;
    }

    100% {
        perspective: 1000px;
    }
}

@keyframes iss-animation {
    0% {
        transform: rotate(0deg) translate(500px) rotate(0deg) rotateZ(90deg) rotateY(-30deg) rotateX(30deg);
    }

    50% {
        transform: rotate(-180deg) translate(500px) rotate(180deg) rotateZ(-90deg) rotateY(0deg) rotateX(0deg);
    }

    100% {
        transform: rotate(-360deg) translate(500px) rotate(360deg) rotateZ(-270deg) rotateY(-30deg) rotateX(30deg);
    }
}